<!doctype html>
<html lang="en">

<head>
    % include('head.tpl', title='Head')
</head>

<body>
    % include('top_nav.tpl', title='Top navigation')

    <div class="container-fluid">
        <form action="/consult" method="get">
            <div class="row">
                % include('nav.tpl', title='Navigation')
                <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
                    <div
                        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">

                        <img id="transformedcover" src="/roadtrip_map" style="max-height:800px" />
                    </div>
                    <div
                        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                        <ul id="transformedinfo">
                            % i = 1
                            % for trip in trip_results:
                                % if trip[1] == 'SECTION':
                                    <li><b>({{i}})   - {{trip[0]}}</b></li>
                                    % i = i+1
                                % else:
                                    <li style="margin-left:50px;">{{trip[0]}}</li>
                                %end
                            % end
                        </ul>
                    </div>
                </main>
            </div>
        </form>
    </div>
    % include('scripts.tpl', title='Scripts')
</body>

</html>