<!doctype html>
<html lang="en">

<head>
    % include('head.tpl', title='Head')
</head>

<body>
    % include('top_nav.tpl', title='Top navigation')

    <div class="container-fluid">
        <form action="/initialize" method="get">
            <div class="row">
                % include('nav.tpl', title='Navigation')
                <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
                    <h2>Initialisation des données</h2>
                    <div class="table-responsive">
                        <table class="table table-striped table-sm" style="table-layout: fixed; width: 100%;">
                            <thead>
                                <tr>
                                    <th style="width:600px">Fonctionnalité</th>
                                    <th style="width:30px"></th>
                                    <th style="width:200px"></th>
                                    <th style="width:30px"></th>
                                    <th style="width:250px"></th>
                                    <th style="width:30px"></th>
                                    <th style="width:250px"></th>
                                    <th style="width:30px"></th>
                                    <th style="width:100%"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <span><b>Charger la table 'prefecture'</b></span>
                                        <br>
                                        <span><i>Alimente la table préfecture à partir du référentiel csv des villes
                                                de France. Cette fonction supprime les données existantes</i></span>
                                    </td>
                                    <td></td>
                                    <td>
                                        <button type="submit" name="operation" value="init_prefecture"
                                            style="background:transparent; border: none; color: blue">
                                            créer
                                        </button>
                                    </td>
                                    <td colspan="6"></td>
                                </tr>

                                <tr>
                                    <td>
                                        <span><b>Lancer l'optimisation du voyage</b></span>
                                        <br>
                                        <span><i>Exécute l'algorithme de génération du voyage</i></span>
                                    </td>
                                    <td></td>
                                    <td>date de départ <br>(DD/MM/YYYY): 
                                        <input type="text" name="start_date"/>
                                    </td>
                                    <td></td>
                                    <td>forcer la resynchronisation des données (traitement très long) : 
                                        <input type="checkbox" name="force"/>
                                    </td>
                                    <td></td>
                                    <td>type de recherche : <br>
                                        <input type="radio" id="type" name="co2" >Co2</input>
                                        <br>
                                        <input type="radio" id="type" checked>Durée</input>
                                    </td>
                                    <td></td>
                                    <td>
                                        <button type="submit" name="operation" value="init_trip"
                                            style="background:transparent; border: none; color: blue;">
                                            initialiser
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </main>
            </div>
        </form>
    </div>
    % include('scripts.tpl', title='Scripts')
</body>

</html>